{
  "apiKey": "__FIREBASE_API_KEY__",
  "authDomain": "appviagens-6f9bc.firebaseapp.com",
  "projectId": "appviagens-6f9bc",
  "storageBucket": "appviagens-6f9bc.firebasestorage.app",
  "messagingSenderId": "39498929978",
  "appId": "1:39498929978:web:894db8001ee57bb383e203",
  "measurementId": "G-1GRP77727C"
}
